<h1> Reading and Writing to Files using Libraries -> Pandas, JSON, CVS</h1>

<h2>1)  Modify a Spreadsheet for input into a Pandas Dataframe</h2>

In [1]:
import pandas as pd
df = pd.read_csv('SavingsTable.csv')
print(df.to_string())

    Year  Date  BalanceBOY  InterestEOY  YrlyDeposit
0      0  2022        0.00         0.00        10000
1      1  2023    10000.00       500.00        10000
2      2  2024    20500.00      1025.00        10000
3      3  2025    31525.00      1576.25        10000
4      4  2026    43101.25      2155.06        10000
5      5  2027    55256.31      2762.82        10000
6      6  2028    68019.13      3400.96        10000
7      7  2029    81420.08      4071.00        10000
8      8  2030    95491.09      4774.55        10000
9      9  2031   110265.64      5513.28        10000
10    10  2032   125778.93      6288.95        10000
11    11  2033   142067.87      7103.39        10000
12    12  2034   159171.27      7958.56        10000
13    13  2035   177129.83      8856.49        10000
14    14  2036   195986.32      9799.32        10000
15    15  2037   215785.64     10789.28        10000
16    16  2038   236574.92     11828.75        10000
17    17  2039   258403.66     12920.18        10000
18    18  2040   281323.85     14066.19        10000
19    19  2041   305390.04     15269.50        10000
20    20  2042   330659.54     16532.98        10000
21    21  2043   357192.52     17859.63        10000
22    22  2044   385052.14     19252.61        10000
23    23  2045   414304.75     20715.24        10000
24    24  2046   445019.99     22251.00        10000
25    25  2047   477270.99     23863.55        10000
26    26  2048   511134.54     25556.73        10000
27    27  2049   546691.26     27334.56        10000
28    28  2050   584025.83     29201.29        10000
29    29  2051   623227.12     31161.36        10000
30    30  2052   664388.48     33219.42        10000
31    31  2053   707607.90     35380.39        10000
32    32  2054   752988.29     37649.41        10000
33    33  2055   800637.71     40031.89        10000
34    34  2056   850669.59     42533.48        10000
35    35  2057   903203.07     45160.15        10000
36    36  2058   958363.23     47918.16        10000
37    37  2059  1016281.39     50814.07        10000
38    38  2060  1077095.46     53854.77        10000
39    39  2061  1140950.23     57047.51        10000
40    40  2062  1207997.74     60399.89        10000
41    41  2063  1278397.63     63919.88        10000
42    42  2064  1352317.51     67615.88        10000
43    43  2065  1429933.39     71496.67        10000
44    44  2066  1511430.06     75571.50        10000
45    45  2067  1597001.56     79850.08        10000
46    46  2068  1686851.64     84342.58        10000
47    47  2069  1781194.22     89059.71        10000
48    48  2070  1880253.93     94012.70        10000
49    49  2071  1984266.63     99213.33        10000
50    50  2072  2093479.96    104674.00        10000

<h2>2.  Transform the Pandas Dataframe into a Dictionary</h2>

In [2]:
savings=df.to_dict()
print(savings)

{'Year': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25, 26: 26, 27: 27, 28: 28, 29: 29, 30: 30, 31: 31, 32: 32, 33: 33, 34: 34, 35: 35, 36: 36, 37: 37, 38: 38, 39: 39, 40: 40, 41: 41, 42: 42, 43: 43, 44: 44, 45: 45, 46: 46, 47: 47, 48: 48, 49: 49, 50: 50}, 'Date': {0: 2022, 1: 2023, 2: 2024, 3: 2025, 4: 2026, 5: 2027, 6: 2028, 7: 2029, 8: 2030, 9: 2031, 10: 2032, 11: 2033, 12: 2034, 13: 2035, 14: 2036, 15: 2037, 16: 2038, 17: 2039, 18: 2040, 19: 2041, 20: 2042, 21: 2043, 22: 2044, 23: 2045, 24: 2046, 25: 2047, 26: 2048, 27: 2049, 28: 2050, 29: 2051, 30: 2052, 31: 2053, 32: 2054, 33: 2055, 34: 2056, 35: 2057, 36: 2058, 37: 2059, 38: 2060, 39: 2061, 40: 2062, 41: 2063, 42: 2064, 43: 2065, 44: 2066, 45: 2067, 46: 2068, 47: 2069, 48: 2070, 49: 2071, 50: 2072}, 'BalanceBOY': {0: 0.0, 1: 10000.0, 2: 20500.0, 3: 31525.0, 4: 43101.25, 5: 55256.31, 6: 68019.13, 7: 81420.08, 8: 95491.09, 9: 110265.64, 10: 125778.93, 11: 142067.87, 12: 159171.27, 13: 177129.83, 14: 195986.32, 15: 215785.64, 16: 236574.92, 17: 258403.66, 18: 281323.85, 19: 305390.04, 20: 330659.54, 21: 357192.52, 22: 385052.14, 23: 414304.75, 24: 445019.99, 25: 477270.99, 26: 511134.54, 27: 546691.26, 28: 584025.83, 29: 623227.12, 30: 664388.48, 31: 707607.9, 32: 752988.29, 33: 800637.71, 34: 850669.59, 35: 903203.07, 36: 958363.23, 37: 1016281.39, 38: 1077095.46, 39: 1140950.23, 40: 1207997.74, 41: 1278397.63, 42: 1352317.51, 43: 1429933.39, 44: 1511430.06, 45: 1597001.56, 46: 1686851.64, 47: 1781194.22, 48: 1880253.93, 49: 1984266.63, 50: 2093479.96}, 'InterestEOY': {0: 0.0, 1: 500.0, 2: 1025.0, 3: 1576.25, 4: 2155.06, 5: 2762.82, 6: 3400.96, 7: 4071.0, 8: 4774.55, 9: 5513.28, 10: 6288.95, 11: 7103.39, 12: 7958.56, 13: 8856.49, 14: 9799.32, 15: 10789.28, 16: 11828.75, 17: 12920.18, 18: 14066.19, 19: 15269.5, 20: 16532.98, 21: 17859.63, 22: 19252.61, 23: 20715.24, 24: 22251.0, 25: 23863.55, 26: 25556.73, 27: 27334.56, 28: 29201.29, 29: 31161.36, 30: 33219.42, 31: 35380.39, 32: 37649.41, 33: 40031.89, 34: 42533.48, 35: 45160.15, 36: 47918.16, 37: 50814.07, 38: 53854.77, 39: 57047.51, 40: 60399.89, 41: 63919.88, 42: 67615.88, 43: 71496.67, 44: 75571.5, 45: 79850.08, 46: 84342.58, 47: 89059.71, 48: 94012.7, 49: 99213.33, 50: 104674.0}, 'YrlyDeposit': {0: 10000, 1: 10000, 2: 10000, 3: 10000, 4: 10000, 5: 10000, 6: 10000, 7: 10000, 8: 10000, 9: 10000, 10: 10000, 11: 10000, 12: 10000, 13: 10000, 14: 10000, 15: 10000, 16: 10000, 17: 10000, 18: 10000, 19: 10000, 20: 10000, 21: 10000, 22: 10000, 23: 10000, 24: 10000, 25: 10000, 26: 10000, 27: 10000, 28: 10000, 29: 10000, 30: 10000, 31: 10000, 32: 10000, 33: 10000, 34: 10000, 35: 10000, 36: 10000, 37: 10000, 38: 10000, 39: 10000, 40: 10000, 41: 10000, 42: 10000, 43: 10000, 44: 10000, 45: 10000, 46: 10000, 47: 10000, 48: 10000, 49: 10000, 50: 10000}}

<h2>3.  Format the Dictionary for Display</h2>

In [3]:
strHead="{:>12}"
y=[]
for x in savings:
    print(strHead.format(x),end="")
    y.append(savings[x])
print()
for row in range(len(y[0])):
    for col in range(len(y)):
        print(strHead.format(y[col][row]),end="")
    print()

        Year        Date  BalanceBOY InterestEOY YrlyDeposit
           0        2022         0.0         0.0       10000
           1        2023     10000.0       500.0       10000
           2        2024     20500.0      1025.0       10000
           3        2025     31525.0     1576.25       10000
           4        2026    43101.25     2155.06       10000
           5        2027    55256.31     2762.82       10000
           6        2028    68019.13     3400.96       10000
           7        2029    81420.08      4071.0       10000
           8        2030    95491.09     4774.55       10000
           9        2031   110265.64     5513.28       10000
          10        2032   125778.93     6288.95       10000
          11        2033   142067.87     7103.39       10000
          12        2034   159171.27     7958.56       10000
          13        2035   177129.83     8856.49       10000
          14        2036   195986.32     9799.32       10000
          15        2037   215785.64    10789.28       10000
          16        2038   236574.92    11828.75       10000
          17        2039   258403.66    12920.18       10000
          18        2040   281323.85    14066.19       10000
          19        2041   305390.04     15269.5       10000
          20        2042   330659.54    16532.98       10000
          21        2043   357192.52    17859.63       10000
          22        2044   385052.14    19252.61       10000
          23        2045   414304.75    20715.24       10000
          24        2046   445019.99     22251.0       10000
          25        2047   477270.99    23863.55       10000
          26        2048   511134.54    25556.73       10000
          27        2049   546691.26    27334.56       10000
          28        2050   584025.83    29201.29       10000
          29        2051   623227.12    31161.36       10000
          30        2052   664388.48    33219.42       10000
          31        2053    707607.9    35380.39       10000
          32        2054   752988.29    37649.41       10000
          33        2055   800637.71    40031.89       10000
          34        2056   850669.59    42533.48       10000
          35        2057   903203.07    45160.15       10000
          36        2058   958363.23    47918.16       10000
          37        2059  1016281.39    50814.07       10000
          38        2060  1077095.46    53854.77       10000
          39        2061  1140950.23    57047.51       10000
          40        2062  1207997.74    60399.89       10000
          41        2063  1278397.63    63919.88       10000
          42        2064  1352317.51    67615.88       10000
          43        2065  1429933.39    71496.67       10000
          44        2066  1511430.06     75571.5       10000
          45        2067  1597001.56    79850.08       10000
          46        2068  1686851.64    84342.58       10000
          47        2069  1781194.22    89059.71       10000
          48        2070  1880253.93     94012.7       10000
          49        2071  1984266.63    99213.33       10000
          50        2072  2093479.96    104674.0       10000

<h2>4. Transpose the list and Display</h2>

In [10]:
lsst=[]
for x in savings:
    lsst.append(x)
yi=[]
yi.append(lsst)
for row in range(len(y[0])):
    lst=[]
    for col in range(len(y)):
        lst.append(y[col][row])
    yi.append(lst)
print(yi)

[['Year', 'Date', 'BalanceBOY', 'InterestEOY', 'YrlyDeposit'], [0, 2022, 0.0, 0.0, 10000], [1, 2023, 10000.0, 500.0, 10000], [2, 2024, 20500.0, 1025.0, 10000], [3, 2025, 31525.0, 1576.25, 10000], [4, 2026, 43101.25, 2155.06, 10000], [5, 2027, 55256.31, 2762.82, 10000], [6, 2028, 68019.13, 3400.96, 10000], [7, 2029, 81420.08, 4071.0, 10000], [8, 2030, 95491.09, 4774.55, 10000], [9, 2031, 110265.64, 5513.28, 10000], [10, 2032, 125778.93, 6288.95, 10000], [11, 2033, 142067.87, 7103.39, 10000], [12, 2034, 159171.27, 7958.56, 10000], [13, 2035, 177129.83, 8856.49, 10000], [14, 2036, 195986.32, 9799.32, 10000], [15, 2037, 215785.64, 10789.28, 10000], [16, 2038, 236574.92, 11828.75, 10000], [17, 2039, 258403.66, 12920.18, 10000], [18, 2040, 281323.85, 14066.19, 10000], [19, 2041, 305390.04, 15269.5, 10000], [20, 2042, 330659.54, 16532.98, 10000], [21, 2043, 357192.52, 17859.63, 10000], [22, 2044, 385052.14, 19252.61, 10000], [23, 2045, 414304.75, 20715.24, 10000], [24, 2046, 445019.99, 22251.0, 10000], [25, 2047, 477270.99, 23863.55, 10000], [26, 2048, 511134.54, 25556.73, 10000], [27, 2049, 546691.26, 27334.56, 10000], [28, 2050, 584025.83, 29201.29, 10000], [29, 2051, 623227.12, 31161.36, 10000], [30, 2052, 664388.48, 33219.42, 10000], [31, 2053, 707607.9, 35380.39, 10000], [32, 2054, 752988.29, 37649.41, 10000], [33, 2055, 800637.71, 40031.89, 10000], [34, 2056, 850669.59, 42533.48, 10000], [35, 2057, 903203.07, 45160.15, 10000], [36, 2058, 958363.23, 47918.16, 10000], [37, 2059, 1016281.39, 50814.07, 10000], [38, 2060, 1077095.46, 53854.77, 10000], [39, 2061, 1140950.23, 57047.51, 10000], [40, 2062, 1207997.74, 60399.89, 10000], [41, 2063, 1278397.63, 63919.88, 10000], [42, 2064, 1352317.51, 67615.88, 10000], [43, 2065, 1429933.39, 71496.67, 10000], [44, 2066, 1511430.06, 75571.5, 10000], [45, 2067, 1597001.56, 79850.08, 10000], [46, 2068, 1686851.64, 84342.58, 10000], [47, 2069, 1781194.22, 89059.71, 10000], [48, 2070, 1880253.93, 94012.7, 10000], [49, 2071, 1984266.63, 99213.33, 10000], [50, 2072, 2093479.96, 104674.0, 10000]]

<h2>5. Write the results to another .csv file</h2>

In [12]:
import csv
f = open('SavingsTable2.csv', 'w', encoding='UTF8', newline='')
writer = csv.writer(f)
for row in yi:
    writer.writerow(row)
f.close()

<h2>6. Repeat process with new file created and reopen with Pandas</h2>

In [14]:
import pandas as pd
df = pd.read_csv('SavingsTable2.csv')
print(df.to_string())

    Year  Date  BalanceBOY  InterestEOY  YrlyDeposit
0      0  2022        0.00         0.00        10000
1      1  2023    10000.00       500.00        10000
2      2  2024    20500.00      1025.00        10000
3      3  2025    31525.00      1576.25        10000
4      4  2026    43101.25      2155.06        10000
5      5  2027    55256.31      2762.82        10000
6      6  2028    68019.13      3400.96        10000
7      7  2029    81420.08      4071.00        10000
8      8  2030    95491.09      4774.55        10000
9      9  2031   110265.64      5513.28        10000
10    10  2032   125778.93      6288.95        10000
11    11  2033   142067.87      7103.39        10000
12    12  2034   159171.27      7958.56        10000
13    13  2035   177129.83      8856.49        10000
14    14  2036   195986.32      9799.32        10000
15    15  2037   215785.64     10789.28        10000
16    16  2038   236574.92     11828.75        10000
17    17  2039   258403.66     12920.18        10000
18    18  2040   281323.85     14066.19        10000
19    19  2041   305390.04     15269.50        10000
20    20  2042   330659.54     16532.98        10000
21    21  2043   357192.52     17859.63        10000
22    22  2044   385052.14     19252.61        10000
23    23  2045   414304.75     20715.24        10000
24    24  2046   445019.99     22251.00        10000
25    25  2047   477270.99     23863.55        10000
26    26  2048   511134.54     25556.73        10000
27    27  2049   546691.26     27334.56        10000
28    28  2050   584025.83     29201.29        10000
29    29  2051   623227.12     31161.36        10000
30    30  2052   664388.48     33219.42        10000
31    31  2053   707607.90     35380.39        10000
32    32  2054   752988.29     37649.41        10000
33    33  2055   800637.71     40031.89        10000
34    34  2056   850669.59     42533.48        10000
35    35  2057   903203.07     45160.15        10000
36    36  2058   958363.23     47918.16        10000
37    37  2059  1016281.39     50814.07        10000
38    38  2060  1077095.46     53854.77        10000
39    39  2061  1140950.23     57047.51        10000
40    40  2062  1207997.74     60399.89        10000
41    41  2063  1278397.63     63919.88        10000
42    42  2064  1352317.51     67615.88        10000
43    43  2065  1429933.39     71496.67        10000
44    44  2066  1511430.06     75571.50        10000
45    45  2067  1597001.56     79850.08        10000
46    46  2068  1686851.64     84342.58        10000
47    47  2069  1781194.22     89059.71        10000
48    48  2070  1880253.93     94012.70        10000
49    49  2071  1984266.63     99213.33        10000
50    50  2072  2093479.96    104674.00        10000

<h2>7. Now write the dictionary and 2-D List to a separate file using JSON</h2>

In [ ]:
import json